{
  "extends": ["airbnb-base"],
  "rules": {
    "no-console": "off",
    "global-require": "off",
    "no-plusplus": "off",
    "no-param-reassign": "warn",
    "arrow-parens": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off"
  },
  "env": {
    "mocha": true
  }
}
